<th><%= Growth::AimLog.human_attribute_name(:user) %></th>
<th><%= Growth::AimLog.human_attribute_name(:ip) %></th>
<th><%= Growth::AimLog.human_attribute_name(:code) %></th>
<th>
  <p><%= Growth::AimLog.human_attribute_name(:entity_type) %></p>
  <p><%= Growth::AimLog.human_attribute_name(:entity_id) %></p>
</th>
<th><%= Growth::AimLog.human_attribute_name(:created_at) %></th>
