<tr>
  <td class="has-text-right"><%= AimCode.human_attribute_name(:controller_path) %></td>
  <td><%= @aim_code.controller_path %></td>
</tr>
<tr>
  <td class="has-text-right"><%= AimCode.human_attribute_name(:action_name) %></td>
  <td><%= @aim_code.action_name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= AimCode.human_attribute_name(:code) %></td>
  <td><%= @aim_code.code %></td>
</tr>
