<div class="ui vertical fluid icon menu">
  <div class="header center link item" id="close_side">
    <i class="content icon"></i>
  </div>
  <div class="item ui dropdown">
    <a class="<%= active_helper(controllers: ['aims', 'aim_users', 'rewards'], active_class: 'title active', item_class: 'title') %>">
      <i class="calendar check icon"></i>
      <span>任务</span>
    </a>
    <div class="<%= active_helper(controllers: ['aims', 'aim_users', 'rewards'], active_class: 'menu content active', item_class: 'menu content') %>">
      <%= link_to '任务管理', admin_aims_path, class: active_helper(controllers: 'aims') %>
      <%= link_to '赏金管理', admin_rewards_path, class: active_helper(controllers: 'rewards') %>
    </div>
  </div>
  <div class="item ui dropdown">
    <a class="<%= active_helper(controllers: ['coins', 'coin_logs'], active_class: 'title active', item_class: 'title') %>">
      <i class="money bill alternate icon"></i>
      <span>金币</span>
    </a>
    <div class="<%= active_helper(controllers: ['coins', 'coin_logs'], active_class: 'menu content active', item_class: 'menu content') %>">
      <%= link_to '金币管理', admin_coins_path, class: active_helper(controllers: 'coins') %>
      <%= link_to '金币明细', admin_coin_logs_path, class: active_helper(controllers: 'coin_logs') %>
    </div>
  </div>
</div>

