<tr>
  <td class="has-text-right"><%= Growth::AimUser.human_attribute_name(:user) %></td>
  <td><%= @aim_user.user %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Growth::AimUser.human_attribute_name(:present_point) %></td>
  <td><%= @aim_user.present_point %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Growth::AimUser.human_attribute_name(:day) %></td>
  <td><%= @aim_user.day %></td>
</tr>
