<div class="ui segment breadcrumb">
  <%= link_to 'Back', admin_rewards_path, class: 'section' %>
  <div class="divider">/</div>
  <div class="action section">incomes</div>
</div>

<div class="ui top attached borderless menu">
  <div class="header item">Admin Reward Incomes</div>
  <div class="right menu">
    <div class="item">
      <%= link_to 'New Admin Reward Income', new_admin_reward_reward_income_path, class: 'ui teal button' %>
    </div>
  </div>
</div>

<%= render 'filter' %>

<table class="ui bottom attached table">
  <thead>
    <tr>
      <th><%= RewardIncome.human_attribute_name(:id) %></th>
      <th><%= RewardIncome.human_attribute_name(:type) %></th>
      <th><%= RewardIncome.human_attribute_name(:user_id) %></th>
      <th>
        <p><%= RewardIncome.human_attribute_name(:source_type) %></p>
        <p><%= RewardIncome.human_attribute_name(:source_id) %></p>
      </th>
      <th><%= RewardIncome.human_attribute_name(:amount) %></th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @reward_incomes.each do |reward_income| %>
    <tr>
      <td><%= reward_income.id %></td>
      <td><%= reward_income.type %></td>
      <td><%= reward_income.user_id %></td>
      <td>
        <p><%= reward_income.source_type %></p>
        <p><%= reward_income.source_id %></p>
      </td>
      <td><%= reward_income.amount %></td>
      <td class="ui labels">
        <%= link_to admin_reward_income_path(reward_income), data: { tooltip: t('.show') }, class: 'ui blue mini icon button' do %>
          <i class="location arrow icon"></i>
        <% end %>
        <%= link_to edit_admin_reward_income_path(reward_income), data: { tooltip: t('.edit') }, class: 'ui pink mini icon button' do %>
          <i class="pencil alternate icon"></i>
        <% end %>
        <%= link_to admin_reward_income_path(reward_income), method: :delete, data: { tooltip: t('.destroy'), confirm: 'Are you sure?' }, class: 'ui red mini icon button' do %>
          <i class="times icon"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @reward_incomes %>
