<div class="ui segment breadcrumb">
  <%= link_to 'Back', admin_rewards_path, class: 'section' %>
  <div class="divider">/</div>
  <div class="action section">incomes</div>
</div>

<div class="ui top attached borderless menu">
  <div class="header item">Admin Reward Incomes</div>
  <div class="right menu">
    <div class="item">
      <%= link_to 'New Admin Reward Income', new_admin_reward_reward_income_path, class: 'ui teal button' %>
    </div>
  </div>
</div>

<%= render 'filter' %>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= RewardIncome.human_attribute_name(:id) %></th>
      <th><%= RewardIncome.human_attribute_name(:user_id) %></th>
      <th><%= RewardIncome.human_attribute_name(:reward_amount) %></th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @reward_incomes.each do |reward_income| %>
    <tr>
      <td><%= reward_income.id %></td>
      <td><%= reward_income.user_id %></td>
      <td><%= reward_income.reward_amount %></td>
      <td class="ui labels">
        <%= link_to admin_reward_income_path(reward_income), aria: { label: t('.show') }, class: 'ui blue mini icon button' do %>
          <i class="location arrow icon"></i>
        <% end %>
        <%= link_to edit_admin_reward_income_path(reward_income), aria: { label: t('.edit') }, class: 'ui pink mini icon button' do %>
          <i class="pencil alternate icon"></i>
        <% end %>
        <%= link_to admin_reward_income_path(reward_income), method: :delete, aria: { label: t('.destroy') }, data: { confrim: t('.confirm') }, class: 'ui red mini icon button' do %>
          <i class="times icon"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @reward_incomes %>
