<div class="ui top attached borderless menu">
  <div class="header item">Admin User Coins</div>
  <div class="right menu">
    <div class="item">
      <%= link_to 'New Admin User Coin', new_admin_user_coin_path, class: 'ui teal button' %>
    </div>
  </div>
</div>

<%= render 'filter' %>

<table class="ui bottom attached table">
  <thead>
    <tr>
      <th><%= UserCoin.human_attribute_name(:id) %></th>
      <th><%= UserCoin.human_attribute_name(:amount) %></th>
      <th><%= UserCoin.human_attribute_name(:income_amount) %></th>
      <th><%= UserCoin.human_attribute_name(:expense_amount) %></th>
      <th><%= UserCoin.human_attribute_name(:user) %></th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @user_coins.each do |user_coin| %>
    <tr>
      <td><%= user_coin.id %></td>
      <td><%= user_coin.amount %></td>
      <td><%= user_coin.income_amount %></td>
      <td><%= user_coin.expense_amount %></td>
      <td><%= user_coin.user %></td>
      <td class="ui labels">
        <%= link_to admin_user_coin_path(user_coin), data: { tooltip: t('.show') }, class: 'ui blue mini icon button' do %>
          <i class="location arrow icon"></i>
        <% end %>
        <%= link_to edit_admin_user_coin_path(user_coin), data: { tooltip: t('.edit') }, class: 'ui pink mini icon button' do %>
          <i class="pencil alternate icon"></i>
        <% end %>
        <%= link_to admin_user_coin_path(user_coin), method: :delete, data: { tooltip: t('.destroy'), confirm: 'Are you sure?' }, class: 'ui red mini icon button' do %>
          <i class="times icon"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @user_coins %>
