<div class="ui segment breadcrumb">
  <%= link_to 'Back', admin_user_coins_path, class: 'section' %>
  <div class="divider">/</div>
  <div class="active section">Show</div>
</div>

<table class="ui very basic large table">
  <tbody>
    <tr>
      <td class="right aligned"><%= UserCoin.human_attribute_name(:amount) %></td>
      <td><%= @user_coin.amount %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= UserCoin.human_attribute_name(:income_amount) %></td>
      <td><%= @user_coin.income_amount %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= UserCoin.human_attribute_name(:expense_amount) %></td>
      <td><%= @user_coin.expense_amount %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= UserCoin.human_attribute_name(:user) %></td>
      <td><%= @user_coin.user %></td>
    </tr>
  </tbody>
</table>
