<div class="ui segment breadcrumb">
  <%= link_to 'Back', admin_gifts_path, class: 'section' %>
  <div class="divider">/</div>
  <div class="active section">Show</div>
</div>

<table class="ui very basic large table">
  <tbody>
    <tr>
      <td class="right aligned"><%= Gift.human_attribute_name(:name) %></td>
      <td><%= @gift.name %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= Gift.human_attribute_name(:code) %></td>
      <td><%= @gift.code %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= Gift.human_attribute_name(:amount) %></td>
      <td><%= @gift.amount %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= Gift.human_attribute_name(:praise_incomes_count) %></td>
      <td><%= @gift.praise_incomes_count %></td>
    </tr>
  </tbody>
</table>
