<td><%= model.name %></td>
<td><%= model.repeat_type %></td>
<td><%= model.task_point %></td>
<td><%= model.reward_point %></td>
<td><%= model.unit %></td>
<td><%= model.reward_amount %></td>
<td><%= model.rate %></td>
<td>
  <%= simple_format model.aim_codes.pluck(:code) %>
</td>
