<div class="ui segment breadcrumb">
  <%= link_to 'Back', admin_aims_path, class: 'section' %>
  <div class="divider">/</div>
  <div class="section"><%= @aim.name %>(<%= @aim.repeat_type_i18n %>)</div>
  <div class="divider">/</div>
  <div class="action section">Users</div>
</div>

<div class="ui top attached borderless menu">
  <div class="header item">Aim Statistics</div>
</div>

<%= render 'filter' %>

<table class="ui bottom attached table">
  <thead>
    <tr>
      <th><%= AimUser.human_attribute_name(:id) %></th>
      <th><%= AimUser.human_attribute_name(:user) %></th>
      <th><%= AimUser.human_attribute_name(:serial_number) %></th>
      <th><%= AimUser.human_attribute_name(:state) %></th>
      <th><%= AimUser.human_attribute_name(:aim_entities_count) %></th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @aim_users.each do |aim_user| %>
    <tr>
      <td><%= aim_user.id %></td>
      <td>
        <% if aim_user.user_id %>
          <%= link_to aim_user.user.name, admin_user_path(aim_user.user_id) %>
        <% end %>
      </td>
      <td><%= aim_user.serial_number %></td>
      <td><%= aim_user.state_i18n %></td>
      <td><%= aim_user.aim_entities_count %></td>
      <td class="ui labels">
        <% if aim_user.user_id %>
          <%= link_to admin_aim_aim_entities_path(user_id: aim_user.user_id), data: { tooltip: t('.show') }, class: 'ui blue mini icon button' do %>
            <i class="location arrow icon"></i>
          <% end %>
        <% else %>
          <%= link_to admin_aim_aim_entities_path(ip: aim_user.ip), data: { tooltip: t('.show') }, class: 'ui blue mini icon button' do %>
            <i class="location arrow icon"></i>
          <% end %>
        <% end %>
        <%= link_to admin_aim_user_path(aim_user), method: :delete, data: { tooltip: t('.destroy'), confirm: 'Are you sure?' }, class: 'ui red mini icon button' do %>
          <i class="times icon"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @aim_users %>
