<div class="ui segment breadcrumb">
  <%= link_to 'Back', admin_aim_statistics_path, class: 'section' %>
  <div class="divider">/</div>
  <div class="active section">Show</div>
</div>

<table class="table is-hoverable is-fullwidth">
  <tbody>
    <tr>
      <td class="has-text-right"><%= AimStatistic.human_attribute_name(:user) %></td>
      <td><%= @aim_statistic.user %></td>
    </tr>
    <tr>
      <td class="has-text-right"><%= AimStatistic.human_attribute_name(:ip) %></td>
      <td><%= @aim_statistic.ip %></td>
    </tr>
    <tr>
      <td class="has-text-right"><%= AimStatistic.human_attribute_name(:serial_number) %></td>
      <td><%= @aim_statistic.serial_number %></td>
    </tr>
    <tr>
      <td class="has-text-right"><%= AimStatistic.human_attribute_name(:state) %></td>
      <td><%= @aim_statistic.state %></td>
    </tr>
    <tr>
      <td class="has-text-right"><%= AimStatistic.human_attribute_name(:aim_users_count) %></td>
      <td><%= @aim_statistic.aim_users_count %></td>
    </tr>
  </tbody>
</table>
