<div class="ui top attached borderless menu">
  <div class="header item">Admin Coin Exchanges</div>
  <div class="right menu">
    <div class="item">
      <%= link_to 'New Admin Coin Exchange', new_admin_coin_exchange_path, class: 'ui teal button' %>
    </div>
  </div>
</div>

<%= render 'filter' %>

<table class="ui bottom attached table">
  <thead>
    <tr>
      <th><%= CoinExchange.human_attribute_name(:id) %></th>
      <th><%= CoinExchange.human_attribute_name(:type) %></th>
      <th><%= CoinExchange.human_attribute_name(:coin_amount) %></th>
      <th><%= CoinExchange.human_attribute_name(:amount) %></th>
      <th><%= CoinExchange.human_attribute_name(:user) %></th>
      <th><%= CoinExchange.human_attribute_name(:state) %></th>
      <th>
        <p><%= CoinExchange.human_attribute_name(:created_at) %></p>
        <p><%= CoinExchange.human_attribute_name(:done_at) %></p>
      </th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @coin_exchanges.each do |coin_exchange| %>
    <tr>
      <td><%= coin_exchange.id %></td>
      <td><%= coin_exchange.type %></td>
      <td><%= coin_exchange.coin_amount %></td>
      <td><%= coin_exchange.amount %></td>
      <td>
        <%= link_to coin_exchange.user.name, admin_user_path(coin_exchange.user_id) %>
      </td>
      <td><%= coin_exchange.state %></td>
      <td>
        <p><time><%= coin_exchange.created_at.to_s(:rfc822) %></time></p>
        <p><time><%= coin_exchange.done_at.to_s(:rfc822) if coin_exchange.done_at %></time></p>
      </td>
      <td class="ui labels">
        <%= link_to admin_coin_exchange_path(coin_exchange), data: { tooltip: t('.show') }, class: 'ui blue mini icon button' do %>
          <i class="location arrow icon"></i>
        <% end %>
        <%= link_to edit_admin_coin_exchange_path(coin_exchange), data: { tooltip: t('.edit') }, class: 'ui pink mini icon button' do %>
          <i class="pencil alternate icon"></i>
        <% end %>
        <%= link_to admin_coin_exchange_path(coin_exchange), method: :delete, data: { tooltip: t('.destroy'), confirm: 'Are you sure?' }, class: 'ui red mini icon button' do %>
          <i class="times icon"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @coin_exchanges %>
