<th><%= Growth::AimEntity.human_attribute_name(:user) %>/<%= Growth::AimEntity.human_attribute_name(:ip) %></th>
<th><%= Growth::AimEntity.human_attribute_name(:aim_logs_count) %></th>
<th><%= Growth::AimEntity.human_attribute_name(:serial_number) %></th>
<th>
  <p><%= Growth::AimEntity.human_attribute_name(:entity_type) %></p>
  <p><%= Growth::AimEntity.human_attribute_name(:entity_id) %></p>
</th>
<th><%= Growth::AimEntity.human_attribute_name(:state) %></th>
<th><%= Growth::AimEntity.human_attribute_name(:reward_amount) %></th>
<th><%= Growth::AimEntity.human_attribute_name(:created_at) %></th>
