<div class="ui attached segment">
  <%= render 'filter' %>
</div>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= RewardExpense.human_attribute_name(:id) %></th>
      <th><%= RewardExpense.human_attribute_name(:amount) %></th>
      <th><%= RewardExpense.human_attribute_name(:aim) %></th>
      <th><%= RewardExpense.human_attribute_name(:user) %></th>
      <th><%= RewardExpense.human_attribute_name(:aim_entity) %></th>
      <th>
        <% if params[:reward_id] %>
          <%= link_to new_admin_reward_expense_path(reward_id: params[:reward_id]), remote: true, class: 'ui teal button' do %>
            <i class="fa-light fa-plus"></i>
          <% end %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @reward_expenses.each do |reward_expense| %>
    <tr>
      <td><%= reward_expense.id %></td>
      <td><%= reward_expense.amount %></td>
      <td>
        <%= reward_expense.aim&.name %>
      </td>
      <td>
        <%= reward_expense.user&.name %>
      </td>
      <td>
        <%= reward_expense.aim_entity&.id %>
      </td>
      <td>
        <%= link_to edit_admin_reward_expense_path(reward_expense), aria: { label: t('.edit') }, remote: true, class: 'ui pink mini icon button' do %>
          <i class="fa-light fa-pencil"></i>
        <% end %>
        <%= link_to admin_reward_expense_path(reward_expense), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, remote: true, class: 'ui red mini icon button' do %>
          <i class="fa-light fa-trash"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @reward_expenses %>
