<th><%= Growth::Reward.human_attribute_name(:id) %></th>
<th><%= Growth::Reward.human_attribute_name(:amount) %></th>
<th>
  <p><%= Growth::Reward.human_attribute_name(:income_amount) %></p>
  <p><%= Growth::Reward.human_attribute_name(:expense_amount) %></p>
</th>
<th>
  <p><%= Growth::Reward.human_attribute_name(:entity_type) %></p>
  <p><%= Growth::Reward.human_attribute_name(:entity_id) %></p>
</th>
<th>
  <p><%= Growth::Reward.human_attribute_name(:start_at) %></p>
  <p><%= Growth::Reward.human_attribute_name(:finish_at) %></p>
</th>
<th>
  <p><%= Growth::Reward.human_attribute_name(:max_piece) %></p>
  <p><%= Growth::Reward.human_attribute_name(:max_piece) %></p>
</th>
<th><%= Growth::Reward.human_attribute_name(:enabled) %></th>
<th>Log</th>
