<tr>
  <td class="has-text-right"><%= Growth::Aim.human_attribute_name(:name) %></td>
  <td><%= @aim.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Growth::Aim.human_attribute_name(:wanted_point) %></td>
  <td><%= @aim.wanted_point %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Growth::Aim.human_attribute_name(:present_point) %></td>
  <td><%= @aim.present_point %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Growth::Aim.human_attribute_name(:unit) %></td>
  <td><%= @aim.unit %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Growth::Aim.human_attribute_name(:score) %></td>
  <td><%= @aim.score %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Growth::Aim.human_attribute_name(:code_type) %></td>
  <td><%= @aim.code_type %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Growth::Aim.human_attribute_name(:code) %></td>
  <td><%= @aim.code %></td>
</tr>
