<div class="ui attached segment">
  <%= render 'filter' %>
</div>

<table class="ui bottom attached table">
  <thead>
    <tr>
      <th><%= Aim.human_attribute_name(:id) %></th>
      <th><%= Aim.human_attribute_name(:name) %></th>
      <th><%= Aim.human_attribute_name(:repeat_type) %></th>
      <th><%= Aim.human_attribute_name(:task_point) %></th>
      <th><%= Aim.human_attribute_name(:reward_point) %></th>
      <th><%= Aim.human_attribute_name(:unit) %></th>
      <th><%= Aim.human_attribute_name(:coin_amount) %></th>
      <th><%= Aim.human_attribute_name(:rate) %></th>
      <th><%= Aim.human_attribute_name(:code) %></th>
      <th>
        <%= link_to new_admin_aim_path, data: { tooltip: t('.new') }, remote: true, class: 'ui teal button' do %>
          <i class="fas fa-plus"></i>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @aims.each do |aim| %>
    <tr>
      <td><%= aim.id %></td>
      <td><%= aim.name %></td>
      <td><%= aim.repeat_type %></td>
      <td><%= aim.task_point %></td>
      <td><%= aim.reward_point %></td>
      <td><%= aim.unit %></td>
      <td><%= aim.coin_amount %></td>
      <td><%= aim.rate %></td>
      <td>
        <%= simple_format aim.aim_codes.pluck(:code) %>
      </td>
      <td class="ui labels">
        <%= link_to admin_aim_aim_users_path(aim_id: aim.id), data: { tooltip: t('.show') }, class: 'ui blue mini icon button' do %>
          <i class="location arrow icon"></i>
        <% end %>
        <%= link_to edit_admin_aim_path(aim), data: { tooltip: t('.edit') }, class: 'ui pink mini icon button' do %>
          <i class="pencil alternate icon"></i>
        <% end %>
        <%= link_to admin_aim_path(aim), method: :delete, data: { tooltip: t('.destroy'), confirm: 'Are you sure?' }, class: 'ui red mini icon button' do %>
          <i class="times icon"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @aims %>
