<tr>
  <td class="has-text-right"><%= Growth::Reward.human_attribute_name(:amount) %></td>
  <td><%= @reward.amount %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Growth::Reward.human_attribute_name(:entity_type) %></td>
  <td><%= @reward.entity_type %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Growth::Reward.human_attribute_name(:entity_id) %></td>
  <td><%= @reward.entity_id %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Growth::Reward.human_attribute_name(:lock_version) %></td>
  <td><%= @reward.lock_version %></td>
</tr>
